PYTHON_BIN=__PYTHON_BIN__
DB_TYPE=__DB_TYPE__
DB_HOST=__DB_HOST__
DB_PORT=__DB_PORT__
DB_NAME=__DB_NAME__
DB_SCHEMA=__DB_SCHEMA__
DB_USER=__DB_USER__
DB_PASSWORD=__DB_PASSWORD__
DB_DSN=__DB_DSN__
SQLITE_PATH=__SQLITE_PATH__
TARGET_TABLES=__TARGET_TABLES__
